<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunDataPath" value="C:\\Users\\123\\Desktop\\test\\"/>
    <add key="InitialScore" value="30"/>
    <add key="TrialDurationInSeconds" value="5"/>
    <add key="BlockDurationInSeconds" value="10"/>
    <add key="FeedbackDurationInMs" value="500"/>
  </appSettings>
</configuration>