<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- PLEASE MAKE SURE TO SET THIS TO AN EXISTING PATH -->
    <!-- The path experiment data will be exported to. -->
    <add key="RunDataPath" value="C:\\Users\\123\\Desktop\\test\\"/>
    
    <!-- The starting score for each block. Default: 30 -->
    <add key="InitialScore" value="30"/>
    
    <!-- The maximum time allocated for each trial (question) in seconds. Default: 5 -->
    <add key="TrialDurationInSeconds" value="5"/>
    
    <!-- The duration for each block in seconds. Default: 180 (3 minutes) -->
    <add key="BlockDurationInSeconds" value="180"/>
    
    <!-- The duration for the trial block (the introduction) in seconds. Default: 10 -->
    <add key="IntroDurationInSeconds" value="10"/>
    
    <!-- The duration in which a visual feedback is displayed when a wrong answer is given. -->
    <!-- This value is in milliseconds. Default: 500 (0.5 second) -->
    <add key="FeedbackDurationInMs" value="500"/>
    
  </appSettings>
</configuration>